<?xml version="1.0"?>

<!-- Track the Ridgeback base using Vicon -->
<launch>
  <arg name="use_joy_stick_relay" default="false" doc="use joy stick for emergency stop"/>

  <!-- Republish Vicon /ridgeback/cmd_vel to /ridgeback_velocity_controller/cmd_vel -->
  <node name="ridgeback_velocity_relay" pkg="topic_tools" type="relay" respawn="true" args="ridgeback/cmd_vel ridgeback_velocity_controller/cmd_vel" output="screen" unless="$(arg use_joy_stick_relay)"/>

  <!-- Estimation of Ridgeback joint state from Vicon messages. -->
  <node pkg="mobile_manipulation_central" type="ridgeback_tf_estimator_node" name="ridgeback_tf_estimator_node" required="true" output="screen">
    <param name="target_frame_id" value="base_link"/>
    <param name="source_frame_id" value="my_world"/>
    <param name="tau_linear" value="0.045"/>
    <param name="tau_angular" value="0.025"/>
    <param name="update_rate" value="50"/>
  </node>
</launch>
