<?xml version="1.0"?>

<!-- Launch the Ridgeback, UR10, and gripper. F/T sensor is not launched here because thus far it appears to only work on-board. -->
<launch>
  <arg name="use_joy_stick_relay" default="true" doc="use joy stick for emergency stop"/>
  <arg name="use_tf" default="false" doc="use tf for ridgeback states"/>
  <arg name="use_odom" default="false" doc="use odom from ridgeback"/>

  <include file="$(find mobile_manipulation_central)/launch/ridgeback_vicon.launch" pass_all_args="true"  unless="$(arg use_tf)"/>
  <include file="$(find mobile_manipulation_central)/launch/ridgeback_tf.launch" pass_all_args="true"  if="$(arg use_tf)"/>

  <include file="$(find mobile_manipulation_central)/launch/ur10.launch" pass_all_args="true"/>
  <include file="$(find mobile_manipulation_central)/launch/gripper.launch" />
  <node pkg="mobile_manipulation_central" type="joy_stick_relay_node.py" name="joy_stick_relay_node" required="true" output="screen" if="$(arg use_joy_stick_relay)"/>
</launch>
